<div class="top-new">
  <div class="contents">
    <%= form_with(model: @item, local: true) do |form| %>
      <h2>共有する</h2>
      <%= form.text_field :name, placeholder: "商品名など入力してください" %>
      <%= form.file_field :image, placeholder: "画像をアップロードしてください" %>
      <%= form.text_field :place, placeholder: "購入できる場所など教えてください" %>
      <%= form.text_area :describe, placeholder: "便利のポイントを教えてください", rows: "10" %>
      <%= form.submit "便利を共有する" %>
    <% end %>
  </div>
</div>